/* GLOBAL */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  font-size: 16pt;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

/* CONTENT */
.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 6rem 25rem repeat(2, 22.5rem) 6rem;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  grid-column: 1 / -1;
}

.hero {
  grid-column: 1 / -1;
  background: url(./images/image1.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 2rem;
  line-height: 2.5rem;
  box-shadow: 0px 1rem 0px 0px rgba(236, 234, 235, 1);
  margin-bottom: 1rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 1rem;
}

.hero__text {
  grid-column: 3 / span 4;
  display: grid;
  grid-template-rows: min-content;
  grid-row-gap: 1.5rem;
  align-self: center;
}

@media only screen and (max-width: 905px) {
  .hero__text {
    grid-column: 3 / span 8;
    font-size: 80%;
  }
}

.hero--btn {
  background-color: #0072ba;
  font-size: 18pt;
  align-self: start;
}

@media only screen and (max-width: 905px) {
  .hero__btn {
    margin-right: 11vw;
  }
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mountain-img {
  grid-column: 1 / span 4;
}

.features__text {
  align-self: center;
  display: grid;
  grid-template-rows: min-content;
  grid-gap: 1rem;
}

.features__text h3 {
  font-size: 18pt;
  line-height: 24pt;
  color: #1e1944;
}

.features__text p {
  font-size: 16pt;
  line-height: 20pt;
  color: #656b72;
}

.mountain-text {
  grid-column: 6 / span 2;
}

.mountain--btn {
  background: #40b062;
}

.rabbit-img {
  grid-column: 5 / span 4;
}

.rabbit-text {
  grid-column: 2 / span 2;
}

.rabbit-btn {
  background: #22b1da;
}

footer {
  grid-column: 1 / -1;
  background: #121921;
  font-size: 13pt;
  color: #fff;
}
