/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* GLOBAL */
html {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.btn:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

/* CONTENT */
.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 5rem 400px repeat(2, 22.5rem) 7.5rem;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
.hero {
  grid-column: 1 / -1;
}

.hero {
  background: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.5),
      rgba(20, 20, 20, 0)
    ),
    url(./images/image1.jpg);
  background-size: cover;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.8rem;
  position: relative;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 1rem;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  top: 25rem;
  background: rgba(236, 234, 235, 1);
}

.hero__text {
  grid-column: 3 / span 3;
  align-self: center;

  display: grid;
  grid-template-rows: min-content;
  grid-row-gap: 1.5rem;
}

.hero--btn {
  background-color: #0072ba;
  font-size: 1.125rem;
  align-self: start;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features__text {
  align-self: center;
  display: grid;
  grid-template-rows: min-content;
  grid-gap: 1rem;
}

.features__text h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #1e1944;
}

.features__text p {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #656b72;
}

.mountain-img {
  grid-column: 1 / span 4;
}

.mountain-text {
  grid-column: 6 / span 2;
}

.mountain--btn {
  background: #40b062;
}

.rabbit-img {
  grid-column: 5 / span 4;
}

.rabbit-text {
  grid-column: 2 / span 2;
}

.rabbit-btn {
  background: #22b1da;
}

footer {
  grid-column: 1 / -1;
  background: #121921;
  font-size: 0.8125rem;
  color: #fff;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 959px) {
  .container {
    grid-template-rows: 5rem repeat(4, 25rem) 28rem 5rem;
  }

  .mountain-img,
  .rabbit-img {
    grid-column: 1 / -1;
  }

  .mountain-text,
  .rabbit-text {
    grid-column: 2 / span 6;
  }

  .rabbit-img {
    grid-row: 5;
  }

  .rabbit-text {
    grid-row: 6;
  }
}

@media only screen and (min-width: 959px) {
  .rabbit-text {
    transform: translateX(3rem);
  }

  .mountain-text {
    transform: translateX(-3rem);
  }

  .hero--btn {
    margin-right: -3rem;
  }
}

@media only screen and (max-width: 905px) {
  .hero__text {
    grid-column: 3 / span 8;
  }

  .features__text {
    grid-gap: 1.5rem;
  }
}
