/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* GLOBAL */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.btn:hover {
  -webkit-box-shadow: inset 0 0 1.25rem rgba(255, 255, 255, 0.5),
    0 0 1.25rem rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 1.25rem rgba(255, 255, 255, 0.5),
    0 0 1.25rem rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

/* CONTENT */
.container {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "header header header header header header header header"
    "hero hero hero hero hero hero hero hero"
    "mtn-img mtn-img mtn-img mtn-img . mtn-text mtn-text ."
    ". rab-text rab-text . rab-img rab-img rab-img rab-img"
    "footer footer footer footer footer footer footer footer";
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 5rem 25rem 22.5rem 22.5rem 7.5rem;
  grid-template-rows: 5rem 25rem repeat(2, 22.5rem) 7.5rem;
}

header,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: header;
}

.hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: hero;
  background: -o-linear-gradient(
      left,
      rgba(20, 20, 20, 0.5),
      rgba(20, 20, 20, 0)
    ),
    url(./images/image1.jpg);
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(20, 20, 20, 0.5)),
      to(rgba(20, 20, 20, 0))
    ),
    url(./images/image1.jpg);
  background: linear-gradient(
      to right,
      rgba(20, 20, 20, 0.5),
      rgba(20, 20, 20, 0)
    ),
    url(./images/image1.jpg);
  background-size: cover;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.8rem;
  position: relative;

  display: -ms-grid;
  display: grid;
  grid-template-areas: ". . hero-txt hero-txt hero-txt . . .";
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(12, 1fr);
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  top: 25rem;
  background: rgba(236, 234, 235, 1);
}

.hero__text,
.features__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__text {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: hero-txt;
}

.hero--btn {
  background-color: #0072ba;
  font-size: 1.125rem;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

.images {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.features__text h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #1e1944;
}

.features__text p {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #656b72;
}

.mountain-img {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: mtn-img;
}

.mountain-text {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: mtn-text;
}

.mountain--btn {
  background: #40b062;
}

.rabbit-img {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: rab-img;
}

.rabbit-text {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: rab-text;
}

.rabbit-btn {
  background: #22b1da;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: footer;
  background: #121921;
  font-size: 0.8125rem;
  color: #fff;
}

/* MEDIA QUERIES */
@supports (grid-gap: 0) {
  .hero__text,
  .features__text {
    display: grid;
    grid-template-rows: min-content;
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 959px) {
  .container {
    -ms-grid-rows: 5rem 25rem 25rem 25rem 25rem 28rem 5rem;
    grid-template-rows: 5rem 25rem 25rem 25rem 25rem 28rem 5rem;
    grid-template-areas:
      "header header header header header header header header"
      "hero hero hero hero hero hero hero hero"
      "mtn-img mtn-img mtn-img mtn-img mtn-img mtn-img mtn-img mtn-img"
      ". mtn-text mtn-text mtn-text mtn-text mtn-text mtn-text ."
      "rab-img rab-img rab-img rab-img rab-img rab-img rab-img rab-img"
      ". rab-text rab-text rab-text rab-text rab-text rab-text ."
      "footer footer footer footer footer footer footer footer";
  }

  .mountain-img {
    -ms-grid-column-span: 8;
  }

  .mountain-text {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
  }

  .rabbit-img {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
  }

  .rabbit-text {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
  }
}

@media only screen and (min-width: 960px) {
  .rabbit-text {
    -webkit-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    transform: translateX(3rem);
  }

  .mountain-text {
    -webkit-transform: translateX(-3rem);
    -ms-transform: translateX(-3rem);
    transform: translateX(-3rem);
  }

  .hero--btn {
    margin-right: -3rem;
  }
}

@media only screen and (max-width: 905px) {
  .hero {
    grid-template-areas: ". . hero-txt hero-txt hero-txt hero-txt hero-txt hero-txt hero-txt hero-txt . .";
  }

  .features__text {
    -ms-grid-rows: min-content 1.5rem min-content 1.5rem min-content;
    grid-gap: 1.5rem;
  }

  .hero__text {
    -ms-grid-column-span: 8;
  }
}
